.favourites__sort{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 15px;
}

.favourites__options{
    border: 0;
    outline: none;
    border-bottom: 1px solid gray;
    color: grey; 
    width: 30%; 
}

.favourites__order{
    padding: 5px;
    color: gray;
    font-size: 20px;
    text-align: left;
}

.favourites__images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
}

.favourites__imgDiv{
    margin: 10px;
    width: 31%;  
}

.favourites__imageRow{
    width: 100%;
    height: 95%;
    background-color: aliceblue;
}

.favourites__button{
    background-color: white;
    color: white;
    border: 1px whitesmoke;
    outline: none;
    width: 100%;
  }

  .favourites__button:hover{
    background-color: rgb(238, 107, 107);
    border: 0;
    outline: none;
    width: 100%;
    height: 30px;
  }
