.upload__fileDiv{
    height: 400px;
    width: 700px;
    border: 3px dashed rgb(27, 131, 172);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20% ;

}

.upload__fileDiv:hover{
    background-color: #f4eeed;
}


.upload__file{
    margin-left: 20%;
}